body {
    color: #222;
    font-family: "Newsreader", serif;

    max-width: 1200px;
    margin: auto;
    font-size: 18px;
}

h1, h2, h3 {
    font-weight: 400;
}

header {
    margin-bottom: 2rem;

    nav {
        margin-top: 1rem;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                font-weight: 600;
            }
        }

        > div {
            display: inline-block;
            height: 4rem;
            &.-right {
                float: right;
                line-height: 4rem;
            }


            /* LOGO */
            .title {
                font-family: "Kode Mono", monospace;
                font-size: 1.75rem;
                margin-top: 0;
                margin-bottom: 0;
            }
            .subtext {
                font-size: 0.75rem;
            }

            .button {
                display: inline-block; /* collapse whitespace */
                font-family: "Fredericka the Great", serif;
                font-size: 1.25rem;
                margin: 0 1rem 0;
            }
        }
    }
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

main {
    line-height: 1.65;
    text-align: justify;

    p,
    h1, h2, h3, h4,
    ul, ol {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2, h3 {
        font-family: "Fredericka the Great", serif;
    }

    code {
        font-family: "Source Code Pro", monospace;
    }

    strong {
        font-weight: 700;
    }

    a {
        color: #00e;
        text-decoration: none;
    }
}

