:root {
    --root-color: #f8f8f8;

    --text-color: #222;
    --link-color: #24C;
    --active-link-color: #35F;
    --back-shadow: #0001;
}

body {
    color: var(--text-color);
    background: var(--root-color);
    font-family: "Newsreader", serif;

    font-size: 18px;
    max-width: 1200px;
    margin: auto;

    /*
    background-image: url(/words/2025/floor-plan.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -190%;
    */
}

/* Reset */
h1, h2, h3 {
    font-weight: normal;
}
a {
    color: inherit; /* i.e. none */
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* Page Header */
header > nav {
    margin-top: 1rem;
    margin-bottom: 2rem;

    > div {
        display: inline-block;
    }

    > div.-left {
        padding: 1rem 3rem 1rem 1rem;

        background: var(--back-shadow);
        border-left: 3px black solid;

        .title {
            font-family: "Kode Mono", monospace;
            font-size: 1.75rem;

            margin-top: 0;
            margin-bottom: 0;
        }
        .subtext {
            font-size: 0.75rem;
        }

    }

    > div.-right {
        float: right;
        line-height: 3rem;
        /*border-right: 2px black solid;*/
        padding: 1rem;

        a {
            display: inline-block; /* collapse whitespace */
            font-family: "Fredericka the Great", serif;
            font-size: 1.5rem;

            margin: 0 1rem 0;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

footer {
    border-top: 1px solid var(--text-color);
    margin-top: 1rem;
}

main {
    font-size: 1.35rem;

    h1, h2, h3 {
        font-family: "Fredericka the Great", serif;
    }

    .code-block,
    .code-inline {
        font-family: "Source Code Pro", monospace;
    }

    time {
        font-variant: small-caps;
        letter-spacing: 0.125rem;
        font-weight: 325;
    }

    article {
        text-align: justify;

        > * {
            margin-left: auto;
            margin-right: auto;

            max-width: 100%;
        }

        p,
        h2, h3, h4,
        ul, ol {
            max-width: 80%;
        }

        h1 {
            max-width: 60%;
            margin: 0 auto 4rem;
            text-align: center;

            font-size: 3rem;
            line-height: 1.35;

            text-shadow: white 0 2px 2px;
        }

        p {
            line-height: 1.75;
        }

        .code-block {
            line-height: 1.5;
            font-size: 1rem;
            padding: 1rem;
            border-radius: 0.25rem;

            .type {
                float: right;
                font-size: 60%;
                color: var(--h-kw);
            }
        }

        figure {
            display: table; /* a block that fits its children, while still blocking */

            padding: 0.5rem 2rem;
            margin: 3rem auto;

            background: var(--back-shadow);

            & > img {
                display: block;
            }

            & > figcaption {
                display: table-caption; /* matches the width of the table */
                caption-side: bottom; /* which edge to align it to */
                text-align: center;

                font-size: 85%;

                padding-top: 0;
                padding: 0.5rem;

                background: var(--back-shadow);
            }
        }

        /* Inline code blocks */
        p > code {
            padding: 0.25rem;
            white-space: pre;

            background: var(--back-shadow);
        }
    }



    a {
        color: var(--link-color);

        &:hover {
            text-decoration: underline;

            color: var(--active-link-color);
            text-shadow: 0 0 3px rgba(from var(--link-color) r g b / 0.5);
        }
    }
}
